extends layout

block content
  h1= title
  <button id="doorStateButton" class="#{chickenDoor.doorState === chickenDoor.lastKnownDoorState ? 'btn btn-success' : 'btn btn-danger'}" value="#{chickenDoor.doorState}" #{chickenDoor.doorState !== chickenDoor.lastKnownDoorState ? 'disabled' : '' } for="success" style="width: 385px;">#{ chickenDoor.doorState === 'Up' ? 'Close door' : 'Open Door' }</button>
  <div style="width: 385px; text-align: center;">Last known doorState: #{chickenDoor.doorState}<div>
  


